.brand_title_wrap{
    text-align: center;
}
.brand_title{
    margin: 60px 0 20px;
    font-size: 28px;
    font-weight: 800;
    font-family: 'SUITE', sans-serif;
}
.spacing{
    height: 100px;
}